div {
  box-sizing: border-box;

}

.mat-card {
  padding: 0px;
  ;
}

.bg-img {
  background-color: #373636;
  margin-top: 100px;
  position: absolute;
  bottom: 0px;
}

.div-data {
  width: 60%;
  display: inline-block;

}

.div-xray,
.div-opt,
.div-coords,
.div-type {
  padding: 5px;
  padding-left: 20px;
  padding-bottom: 15px;
  ;
  color: #FF6C6C;
  font-weight: 1000;

}

.pub-header-card {
  margin: 20px;
}

.mat-card-title {
  padding: 30px;
  font-weight: 2000;
  //text-shadow:2px 2px #373636 ;
}

.box-tools {
  
  color: #FF6C6C;
  font-weight: 1000;
  width: 50%;
  
  //text-align: center;
  text-align: center;
  background-color: whitesmoke;
  margin:auto;
  margin-top:10px;
  margin-bottom:10px;
  padding-top:5px;
  height:30px;
}

#data-title {
  font-size: 1.08em;
  font-weight: 100;
  color: whitesmoke;
}

.side-links {
  width: 40%;
  display: inline-block;


}

li {
  list-style: none;
  ;
}

.div-pictures {
  padding-left: 20%;
  
  
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 80px;;

}



.div-coords,
.div-type {

  width: 50%;
  display: inline-block;

}

.div-type {
  float: right;
}

.div-xray,
.div-opt {
  width: 50%;
  display: inline-block;
}

#data-val {
  color: whitesmoke;
  font-weight: 400;
  ;
}

.SDSS,
.panstars {
  height: 150px;
  width: 150px;
}

.div-pictures a {
  margin: 5px;
  
}

#aladin-lite-div {
  width: 33.33%;
  border: none;
  display: inline-block;
}

.div-xray .data-title {
  padding: 1000px;
}

#source-A-info {
  background-image: url("../../assets/static/space2.jpg");
  height: 600px;
  border-radius: 0px;
  color: whitesmoke;
  position: relative;

}

a {
  color: #FF6C6C;
  ;
}

.mat-list-item {
  color: whitesmoke;
  padding-top: 0px;
}

.subheading {
  color: whitesmoke;
  width: 30%;
  display: inline-block;
}

#pub-header,
#sources-header {
  //width:98%;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  //padding-bottom:20px;
  background-color: #373636;
}

#pub-table,
#sources-table {
  //width:98%;
  margin: auto;
  //padding-top:20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: #373636;
}

#pub-header-card,
#sources-header-card {
  box-shadow: none;
  border-radius: 0px;
  ;
}

table {

  border: 20px;
  margin: auto;
  box-shadow: none;
  width: 100%;
}


#paper-table-cell,
#name,
#head-cell {
  padding: 5px;
  text-align: center;
}

.mat-column-abstract,
#abstract {
  word-wrap: break-word;
  max-width: 400px;
}
.mat-cell{
  height:100px;
}
.mat-column-Abstract,
#Abstract {
  word-wrap: break-word;
  width: 50%;
  
}
.mat-column-Title,.mat-column-Authors,.mat-column-Keywords{
  width: width 20%;
}


.mat-column-observer {
  word-wrap: break-word;
  max-width: 80px;
}

#div-table-papers {
  background-color: rosybrown;
}

td,
th {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(0, 0, 0, .12);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: rgba(0, 0, 0, .12);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, .12);

}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: rgb(3, 3, 97);
  font-size: 12px;
  font-weight: 500;
}

@media only screen and (max-width: 699) {
  #source-A-info {
    background-image: url("../../assets/static/space2.jpg");
    height: 1000px;
    border-radius: 0px;
    color: whitesmoke;
    position: relative;
   

  }
  .side-links {
    width: 100%;
  }
  .div-data {
    width: 100%;
    
  
  }
}

@media only screen and (min-width: 700) and (max-width: 1000px) {
  #source-A-info {
    background-image: url("../../assets/static/space2.jpg");
    height: 800px;
    border-radius: 0px;
    color: whitesmoke;
    position: relative;



  }
  .div-data {
    width: 100%;
    
  
  }
  .side-links {
    width: 100%;
    
  
  
  }
}
