<div>
    SOURCE A Details: <br/>
    
    Name : {{dataA.Name}} <br>
    Type : {{dataA.Type}} <br>
    RA : {{dataA.RA}} <br>
    Dec : {{dataA.Dec}} <br>
    Opt : {{dataA.Opt}} <br>
    r_Opt : {{dataA.r_Opt}} <br>
    Vmag : {{dataA.Vmag}} <br>
    B_V : {{dataA.B_V}} <br>
    U_B : {{dataA.U_B}} <br>
    E_BV : {{dataA.E_BV}} <br>
    r_Vmag : {{dataA.r_Vmag}} <br>
    Fx : {{dataA.Fx}} <br>
    Range : {{dataA.Range}} <br>
    Porb : {{dataA.Porb}} <br>
    Ppulse : {{dataA.Ppulse}} <br>
    r_Ppulse : {{dataA.r_Ppulse}} <br>
    Cat : {{dataA.Cat}} <br>
    SpType : {{dataA.SpType}} <br>
    Class : {{dataA.Class}} <br>
<br>

</div>

<div id=div-table-papers>
  <table mat-table  [dataSource]="dataSourcePapers" class="mat-elevation-z8">
    
    <!--Title-->
    <ng-container matColumnDef="Title">
      <th mat-header-cell id=head-cell *matHeaderCellDef> Title </th>
      <td  mat-cell id="paper-table-cell" *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>
    
     <!--Authors-->
     <ng-container matColumnDef="Authors">
      <th mat-header-cell id=head-cell *matHeaderCellDef> Authors </th>
      <td  mat-cell id="paper-table-cell" *matCellDef="let element"> 
        {{element.Authors.substring(0,10)}} 
        <span id="points_a{{element.identifier}}">...</span>
        <span style="display: none" id="moreText_a{{element.identifier}}"> {{element.Authors.substring(10)}} </span>
          <button class="text-toogle-btn" (click)="toggleAuthor(this, element.identifier)" id="textButton_a{{element.identifier}}"> 
            Show More 
        </button>
      </td>
    </ng-container>

    <!--abstract-->
    <ng-container matColumnDef="Abstract">
      <th mat-header-cell id=head-cell   *matHeaderCellDef> Abstract </th>
      <td  mat-cell id="paper-table-cell" *matCellDef="let element"> 
        {{element.Abstract.substring(0,300)}} 
      <span id="points_abs{{element.identifier}}">...</span>
        <span style="display: none" id="moreText_abs{{element.identifier}}"> {{element.Abstract.substring(300)}} </span>
          <button class="text-toogle-btn" (click)="toggleAbs(this, element.identifier)" id="textButton_abs{{element.identifier}}"> 
            Show More 
        </button> 
      </td>
    </ng-container>
    
    <!--Keywords-->
    <ng-container matColumnDef="Keywords">
      <th mat-header-cell id=head-cell  *matHeaderCellDef> Keywords </th>
      <td  mat-cell id="paper-table-cell" *matCellDef="let element"> 
        
        {{element.Keywords.substring(0,50)}}
        <span id="points_k{{element.identifier}}">...</span>
        <span style="display: none" id="moreText_k{{element.identifier}}"> {{element.Keywords.substring(50)}} </span>
          <button class="text-toogle-btn" (click)="toggleK(this, element.identifier)" id="textButton_k{{element.identifier}}"> 
            Show More 
        </button> 
      </td>
    </ng-container>
    

   <tr mat-header-row *matHeaderRowDef="ColumnsPapers">
   </tr>
    <tr mat-row  *matRowDef="let row; columns: ColumnsPapers;"
        (click)="selectionPaper.toggle(row)">
    </tr>    
  

  
</table>


</div>

<br>
<br>
<br>
<br>
<br>
<div id=div-table-sources>
  <table mat-table  [dataSource]="dataSource" class="mat-elevation-z8">
    <!--Object-->
    <ng-container matColumnDef="Object">
      <th mat-header-cell id=head-cell *matHeaderCellDef> Object </th>
      <td  mat-cell id=name  *matCellDef="let element"> {{element.Object}} </td>
    </ng-container>
    
    <!--obsid-->
    <ng-container matColumnDef="obsid">
      <th mat-header-cell id=head-cell *matHeaderCellDef> Obsid </th>
      <td  mat-cell id=name  *matCellDef="let element"> {{element.obsid.substring(0,11)}} <br> {{element.obsid.substring(11)}} </td>
    </ng-container>
    
    <!--RA-->
    <ng-container matColumnDef="RA">
      <th mat-header-cell id=head-cell *matHeaderCellDef> RA </th>
      <td  mat-cell id=name  *matCellDef="let element"> {{element.RA}} </td>
    </ng-container>
    
    <!--Dec-->
    <ng-container matColumnDef="Dec">
      <th mat-header-cell id=head-cell *matHeaderCellDef> DEC </th>
      <td  mat-cell id=name  *matCellDef="let element"> {{element.Dec}} </td>
    </ng-container>
    
    <!--instrument-->
    <ng-container matColumnDef="instrument">
      <th mat-header-cell id=head-cell *matHeaderCellDef> Observed<br> Instrument </th>
      <td  mat-cell id=name  *matCellDef="let element"> {{element.instrument}} </td>
    </ng-container>
    
    <!--date_time-->
    <ng-container matColumnDef="date_time">
      <th mat-header-cell id=head-cell *matHeaderCellDef> Date / Time</th>
      <td  mat-cell id=name  *matCellDef="let element"> {{element.date_time.substring(0,10)}} <br> {{element.date_time.substring(10)}} </td>
    </ng-container>
    
    <!--proposal_id-->
    <ng-container matColumnDef="proposal_id">
      <th mat-header-cell id=head-cell *matHeaderCellDef> Proposal ID </th>
      <td  mat-cell id=name  *matCellDef="let element"> {{element.proposal_id}} </td>
    </ng-container>
    
    <!--target_id-->
    <ng-container matColumnDef="target_id">
      <th mat-header-cell id=head-cell *matHeaderCellDef> Target ID </th>
      <td  mat-cell id=name  *matCellDef="let element"> {{element.target_id}} </td>
    </ng-container>
    
    <!--observer-->
    <ng-container matColumnDef="observer">
      <th mat-header-cell id=head-cell *matHeaderCellDef> Observer </th>
      <td  mat-cell id=name  *matCellDef="let element"> {{element.observer}} </td>
    </ng-container>
    
    <!--abstract-->
    <ng-container matColumnDef="abstract">
      <th mat-header-cell id=head-cell *matHeaderCellDef> Abstract </th>
      <td  mat-cell id=name  *matCellDef="let element"> 
        {{element.abstract.substring(0,300)}} 
        <span id="points{{element.id}}">...</span>
        <span style="display: none" id="moreText{{element.id}}"> {{element.abstract.substring(300)}} </span>
          <button class="text-toogle-btn" (click)="toggleText(this, element.id)" id="textButton{{element.id}}"> 
            Show More 
        </button>
      </td>
    </ng-container>
    
    <!--visibility-->
    <ng-container matColumnDef="visibilility">
      <th mat-header-cell id=head-cell *matHeaderCellDef> Visibility </th>
      <td  mat-cell id=name  *matCellDef="let element"> 
        <!--<span ng-if="element.id==0">{{myVar}}</span>-->
        LAXPC<br>CZTI<br>UVIT<br>
        <!--<div *ngFor='let item of visibilility_array | keyvalue'>
          Key: {{item.key}}
       
           <div *ngFor='let obj of item.value'>
               {{ obj.vis_czti }}
               {{ obj.vis_uvit }}
           </div>
       
       </div>-->
       <span id="CZTI{{element.id}}"></span>
      
      </td>
    </ng-container>
    

   <tr mat-header-row *matHeaderRowDef="displayedColumns">
   </tr>
    <tr mat-row  *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>    
  

  
</table>


</div>

<!--
  [className]="assignClass(element.category)"
[className]="assignClass(element.category)"
[className]="assignClass(element.category)"
[className]="assignClass(element.category)"
[className]="assignClass(element.category)"
-->