<div class="outer-div" style="position: relative;">
  <div>
    <div style="width:15%;display:inline;float:left">

      <div class="btn">
        <button mat-raised-button (click)="update_survey('P/Fermi/color', false)">Fermi Survey</button>
      </div>
      <div class="btn">
        <button mat-raised-button (click)="update_survey('P/SWIFT_BAT_FLUX', false)">SWIFT BAT FLUX</button>
      </div>
      <div class="btn">
        <button mat-raised-button (click)="update_survey('P/GALEXGR6/AIS/color')">Galex</button>
      </div>
      <div class="btn">
        <button mat-raised-button (click)="update_survey('P/DSS2/color')">DSS color</button>
      </div>
      <div class="btn">
        <button mat-raised-button (click)="update_survey('P/PanSTARRS/DR1/color/z/zg/g')">Pan* color</button>
      </div>
      <div class="btn">
        <button mat-raised-button (click)="update_survey('P/2MASS/color')">2MASS</button>
      </div>
      <div class="btn">
        <button mat-raised-button (click)="update_survey('P/allWISE/color')">WISE</button>
      </div>
    </div>

    <div style="width:50%; height: 80vh; display:inline;float:left">
      <div id="aladin-lite-div" style="width: 100%; height: 100%;"></div>
    </div>

    <div style="width:35%; display:inline;float:left">
      <div style="width: 100%; height: 50vh">
        <plotly-plot [data]="plot.data" [layout]="plot.layout" [config]="plot.config" (plotlyClick)=click_plot($event)>
        </plotly-plot>
      </div>
      <div style="clear:both; display:block;position: relative;bottom:0px">
        <button mat-raised-button (click)="moll_switch()">{{ moll_button_title }}</button><br>
      </div>

    </div>
  </div>
</div>
